@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

body {
  margin: 0;
  padding: 0;
  font-family: Poppins !important;
}

a {
  text-decoration: none !important;
}
ul {
  padding: 0 !important;
}
li {
  list-style: none;
}

.spacer_75 {
  height: 75px;
}
.spacer_100 {
  height: 100px;
}

.carousel-item img {
  height: 500px;
}
.carousel_text_container {
  max-width: 500px;
  padding: 25px;
}

/* ----------------------------- */
/* ----------Packages----------- */
/* ----------------------------- */
.package_card h1,
h3 {
  color: #231d4f;
  margin: 15px 0;
  font-weight: 700;
}

.package_card p {
  font-size: 14px;
}

.package_card li {
  margin: 7px 0;
  font-size: 16px;
}
.package_card .fa {
  margin-right: 25px;
}

.hot_package {
  border-radius: 20px;
  background-color: #3f87f5;
}

/* ----------------------------- */
/* Recent Event / Extra Section */
/* ----------------------------- */

.recent_event_container img {
  object-fit: cover;
  height: 300px;
  transition-duration: 1s;
}

.recent_event_container:hover .recent_event_banner_alt {
  left: 0 !important;
}
.recent_event_btn {
  cursor: pointer;
  bottom: -100px;
  padding: 20px 0;
  transition: 1s;
}

.recent_event_btn span {
  background-color: rgba(46, 93, 245, 0.555);
  border: none !important;
}

.recent_event_container:hover .recent_event_btn {
  bottom: 20px !important;
  display: block !important;
}

.artcell_20 {
  background-color: rgba(182, 48, 48, 0.356) !important;
}
.king_bob {
  background-color: rgba(230, 226, 39, 0.356) !important;
}
